<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>person</key>
	<array>
		<dict>
			<key>age</key>
			<string>20</string>
			<key>name</key>
			<string>大黄</string>
			<key>birthday</key>
			<date>1990-06-06T12:50:06Z</date>
		</dict>
		<dict>
			<key>age</key>
			<string>18</string>
			<key>name</key>
			<string>黄毛</string>
			<key>birthday</key>
			<date>1992-04-06T13:50:06Z</date>
		</dict>
	</array>
	<key>tweet</key>
	<dict>
		<key>content</key>
		<string>这是微博内容</string>
		<key>createTime</key>
		<date>2012-06-06T13:56:59Z</date>
		<key>comment</key>
		<array>
			<string>这是一条评论</string>
			<string>顶楼上和楼主</string>
		</array>
	</dict>
</dict>
</plist>
